[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
face-recognition = "==1.3.0"
jupyter = "*"
notebook = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
fastapi-login = "*"
pandas = "*"
bs4 = "*"
pydantic = "*"
urllib3 = {extras = ["secure"], version = "*"}
ipykernel = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
