.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("Images/cn.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: aliceblue;
    font-family: 'Roboto Slab', serif;

}