{% extends "teacherLayout.html" %}
{% block content %}

<script>
$("#navStudw").addClass("navisel")
$("#navStudm").addClass("navisel")
</script>

<div class="container">

    <section id="head">
        <div class="row">
    
            <div class="col-md-12">
                <div class="text-center pt-5 pr-5 pl-3">
                    <div class="ui buttons">
                        <button class="ui button teal" onclick="show('#New')">New</button>
                        <button class="ui button blue"  onclick="show('#Edit')">Edit</button>
                        <button class="ui button red"  onclick="show('#Remove')">Remove</button>
                    </div>
                </div>
            </div>
            <script>
                function show(id){
                    $("#New").hide();
                    $("#Edit").hide();
                    $("#Remove").hide();
                    $(id).show();
    
                }
            </script>
        </div>
    </section>
    
    <section id="New" class="p-md-5 m-md-5 pb-5 pt-5" style="display: none;">
        
        <form class="ui form" id="NewStudent">
            <h3 class="ui dividing header">New Student Details</h3>
    
            <div class="three fields">
            
                <div class="field">
                    <input required type="text" id="unique_id" placeholder="Unique Id">
                </div>
    
                <div class="field">
                    <input required type="text" id="name" placeholder="Full Name">
                </div>
    
                <div class="field">
                    <input required type="email" id="email" placeholder="Email">
                </div>
    
            </div>
    
            <div class="three fields">
    
                <div class="field">
                    <input required type="text" id="parent_name" placeholder="Parent Name">
                </div>
    
                <div class="field">
                    <input required type='number' id='parent_number' placeholder="Parent Phone Number">
                </div>
                
                <div class="field">
                    <input required type='number' id='number' placeholder="Phone Number 2">
                </div>
            
            </div>
        
            <div class="two fields">
                
                <div class="field">
                    <label >Choose Course</label>
                    <select required class="ui dropdown" id='course'>
                        <option value="" disabled selected>Choose valid option</option>
                        <option value="none">None</option>
                    </select>
                </div>
    
                <div class="field">
                    <label>Choose Year</label>
                    <select class="ui dropdown" id="year">
                        <option value="1" selected>Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>
    
            </div>

            <div class="ui buttons">
                <button class="ui button green" type="submit" id="appoint_btn">Submit</button>
                <div class="or"></div>
                <div class="ui button red" onclick='$("#NewStudent")[0].reset();'>clear</div>
            </div>

        </form>

    </section>

    <section id="Edit" class="p-md-5 m-md-5 pb-5 pt-5" style="display: block;">

        <form class="ui form pb-md-5 pb-5" id="editVerify">
            <h3 class="ui dividing header">Verify First</h3>
            <div class="four fields">

                <div class="field">
                    <label >Unique Id</label>
                    <input type="text" id="id2" required placeholder="Unique Id">
                </div>

                <div class="field">
                    <label >Name</label>
                    <input type="text" id="edName" required placeholder="Name">
                </div>

                <div class="field">
                    <label >Choose Course</label>
                    <select class="ui dropdown" id='edCourse1'>
                        <option value="none" selected>None</option>
                    </select>
                </div>
    
                <div class="field">
                    <label>Choose Year</label>
                    <select class="ui dropdown" id='edYear1'>
                        <option value="1" selected>Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>
            </div>
            <div class="ui buttons">
                <button class="ui button green" id = 'appoint_btn2' type="submit">Verify</button>
                <div class="or"></div>
                <div class="ui button red" onclick='$("#editVerify")[0].reset();'>clear</div>
            </div>
        </form>

        <script>
            $("#editVerify").submit((e)=>{
                e.preventDefault();
                $("#appoint_btn2").addClass("loading disabled");
                var name = $("#edName").val()
                var data = JSON.stringify(
                    {"unique_id": $("#id2").val(), "name": name,
                    "course": $("#edCourse1").val(), "year": parseInt($("#edYear1").val())}
                );
                
                var base = window.location.origin + '/teacher/edit-student';

                $.ajax({

                    url: base,
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function(result){
                        $("#appoint_btn2").removeClass("loading disabled");
                        disable_edits()
                        set_details(result)
                        console.log(result)
                    },
                    error: function(result){
                        $("#appoint_btn2").removeClass("loading disabled");
                        alert("Ererer")}

            })
        })

        function disable_edits(){
            $("#id2").addClass("disabled")
        }

        function set_details(data){
            console.log(data.name)
            $("#id4").val(data.unique_id)
            $("#name4").val(data.name)
            $("#email4").val(data.email)
            $("#pname4").val(data.parent_name)
            $("#pnumber4").val(data.parent_number)
            $("#snumber4").val(data.number)
            $("#course4").val(data.course).change()
            $("#year4").val(data.year).change()
            $(".edbtndis").removeClass("disabled")
        }

        </script>

        
        <form class="ui form" id="editstudent">
            <h3 class="ui dividing header">Edit Student Details</h3>
    
            <div class="three fields">
            
                <div class="field">
                    <input type="text" name="id" id='id4' placeholder="Unique Id">
                </div>
    
                <div class="field">
                    <input type="text" name="name" id='name4' placeholder="Full Name">
                </div>
    
                <div class="field">
                    <input type="email" name="email" id='email4' placeholder="Email">
                </div>
    
            </div>
    
            <div class="three fields">
    
                <div class="field">
                    <input type="text" name="pname" id='pname4' placeholder="Parent Name">
                </div>
    
                <div class="field">
                    <input type='text' name='pnumber' id='pnumber4' placeholder="Parent Phone Number">
                </div>
                
                <div class="field">
                    <input type='text' name='snumber' id='snumber4' placeholder="Phone Number 2">
                </div>
            
            </div>
        
            <div class="two fields">
                
                <div class="field">
                    <label >Choose Course</label>
                    <select class="ui dropdown" id='course4'>
                        <option value="none" selected>None</option>
                        <option value="test">test</option> 
                    </select>
                </div>
    
                <div class="field">
                    <label>Choose Year</label>
                    <select class="ui dropdown" id='year4'>
                        <option value="1" selected>Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>
    
            </div>

            <div class="ui buttons">
                <button class="ui button green disabled edbtndis" type="submit">Submit</button>
                <div class="or"></div>
                <div class="ui button red disabled edbtndis" onclick='$("#editstudent")[0].reset();'>clear</div>
            </div>

           
    
        </form>

    </section>

    <section id="Remove" class="p-md-5 m-md-5 pb-5 pt-5" style="display: none;">
        
        <form class="ui form pb-md-5 pb-5" id="removeStudent">
            <h3 class="ui dividing header">Remove Student</h3>
            <div class="four fields">

                <div class="field">
                    <label >Unique Id</label>
                    <input type="text" id="id1" required placeholder="Unique Id">
                </div>

                <div class="field">
                    <label>Full Name</label>
                    <input type="text" id="rmName" required placeholder="Name">
                </div>

                <div class="field">
                    <label >Choose Course</label>
                    <select class="ui dropdown" id='course1'>
                        <option value="none" selected>None</option>
                    </select>
                </div>
    
                <div class="field">
                    <label>Choose Year</label>
                    <select class="ui dropdown" id='year1'>
                        <option value="1" selected>Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>
            </div>
            <div class="ui buttons">
                <button class="ui button orange" type="submit" id="appoint_btn1">Remove</button>
                <div class="or"></div>
                <div class="ui button red" onclick='$("#removeStudent")[0].reset();'>clear</div>
            </div>
        </form>

    </section>

</div>
<script src="{{ url_for('static', path='students.js') }}"></script>
{% endblock %}