{% extends "layout.html" %}
{% block content %}
<script>
  $(".credd").addClass("navisel")
</script>

<section id='cr' class="p-4 m-4">

    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="card shadow-lg rounded">
                  <div class="card-body p-5">
                      <p class="card-title font-weight-bold h5 text-center">Update <i class="lock icon blue"></i></p>
                      <form id='admin_reset'>
                                          
                          <div class="form-group pt-3">
                              <input type="password" required class="form-control md-w-50" name="password" id="inputPassword" placeholder="Current Password">
                          </div>

                          <div class="form-group pt-3">
                            <input type="password" required class="form-control md-w-50" name="newpassword" id="inputPasswordNew" placeholder="New Password">
                        </div>
          
                          <div class="form-group pt-3">
                              <button type="submit" id='pass_change_button' class="ui button red fluid" style="font-family: sans-serif;">Change</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>

</section>

{% endblock %}