{% extends "layout.html" %}
{% block content %}

  <!--Starting Here-->

  <div class="ui container">

    <!--Hod Details Section starts here-->
    <section id='dH' class="p-4 m-4" style="display: none;">
    
      <div class="jumbotron text-center">
        <p class="h1 pb-5" style="font-family: 'Exo', sans-serif;">Hod Details</p>
      </div>
      
      <!--hod Search-->
      <div class="form ui">
        <div class="field">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" id='HodInput' placeholder="Search Teacher">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
  <!--Search Ends-->

      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" class="font-weight-bold">Name</th>
              <th scope="col" class="font-weight-bold">Email</th>
              <th scope='col' class="font-weight-bold">Phone No:</th>
              <th scope="col" class="font-weight-bold">User Name</th>
              <th scope="col" class="font-weight-bold">Department</th>
            </tr>
          </thead>
          <tbody id='SearchHod'>
            {% for i in hods %}
            <tr>
              <th scope="row" class="font-weight-bold">{{i['name']}}</th>
              <td>{{ i['email'] }}</td>
              <td>{{ i['phone_num'] }}</td>
              <td>{{ i['user_name'] }}</td>
              <td>{{ i['department'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </section>

    <!--Department Details Section starts here-->
    <section id='dD' class="p-4 m-4" style="display: block;">
    
      <div class="jumbotron text-center">
        <p class="h1 pb-5" style="font-family: 'Exo', sans-serif;">Department Details</p>
      </div>

    <!--Department Search-->
      <div class="form ui">
        <div class="field">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" id='myInput' placeholder="Search Teacher">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
  <!--Search Ends-->

      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" class="font-weight-bold">Department</th>
              <th scope="col" class="font-weight-bold">Alias</th>
              <th scope='col' class="font-weight-bold">Courses Under Departments</th>
              <th scope='col' class="font-weight-bold">Remove Department</th>
            </tr>
          </thead>
          <tbody id="SearchDepartment">
            {% for i in dep %}
            <tr id = '{{ i["Alias"] }}'>
              <th scope="row" class="text-uppercase font-weight-bold">{{i['Department']}}</th>
              <td class="text-uppercase">{{ i['Alias'] }}</td>
              <td class="font-weight-bold text-uppercase">{{ cw[i['Alias']]|join(", ") }}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm px-3" onclick="remove_departement('{{ i['Alias'] }}')">
                  <i class="x icon"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


    </section>

    <!--Hod Section starts here-->
    <section id='hod' class="p-4 m-4" style="display: none;">
      
      <div class="jumbotron text-center">
        <p class="h1 pb-4" style="font-family: 'Exo', sans-serif;">Head of Department</p>
      </div>

      <form class="ui form pb-5 pt-4" id='Appointment_form'>
        <h3 class="ui dividing header">Appoint New Hod</h3>
        <div class="fields three">
          <div class="field">
            <label>Name</label>
            <input id='name' required type="text" placeholder="Name">
          </div>
          <div class="field">
            <label>Email</label>
            <input id='email' required type="text" placeholder="Email">
          </div>
          <div class="field">
            <label>Secret Code</label>
            <input id='username' required type="text" placeholder="4 Digit Secret Code">
          </div>
        </div>

        <div class="fields two">
          <div class="field">
            <label>Phone Number</label>
            <input id='number' required type="text" placeholder="Phone Number">
          </div>

          <div class="field">
            <label>Department</label>
            <select class="ui search dropdown" id='department_options'>
              {% for i in dep %}
              <option value="{{ i['Alias'] }}">{{ i['Department'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="fields three">
          <div class="field">
            <label>Verification Image 1
            <input id='vimage1' required type="file" accept="image/*"capture="camera"></label>
          </div>
          
          <div class="field">
            <label>Verification Image 2
              <input id='vimage2' required type="file" accept="image/*"capture="camera">
            </label>
          </div>

          <div class="field pb-2 pb-md-0">
            <label>Verification Image 3
              <input id='vimage3' required type="file" accept="image/*"capture="camera">
            </label>
          </div>
        </div>
        <div class="pt-2 pb-4" id = 'pro' style="display: none;">
          <div class="progress" style="height: 15px;">
            <div class="progress-bar bg-success rounded" role="progressbar" style="width: 10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <p class="text-danger">**Usually take 3-4 minutes</p>
        <button class="ui button green" id='upload_button' type="submit">Submit</button>
        <div class="ui button red" onclick='$("#Appointment_form")[0].reset();'>clear</div>

      </form>

      <hr>

      <form class="ui form pt-5 pb-5" id="Hod_remove">
        <h3 class="ui dividing header">Remove Hod</h3>
        <div class="fields two">
          <div class="field">
            <label>Name</label>
            <select class="ui search dropdown" id="hod_name">
              <option value="none" selected>None</option>
              {% for i in hods %}
                <option value="{{ i['user_name'] }}">{{ i['name'] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="field">
            <label>Department</label>
            <select class="ui search dropdown" id='department_options2'>
            </select>
          </div>
          <script>$('#department_options option').clone().appendTo('#department_options2');</script>
        </div>

        <div class="pt-3 pt-md-0">
          <button class="ui button red font-weight-bold">Remove</button>
        </div>
      </form>
      
    </section>

    <!--Department Section starts here-->
    <section id='dep' class="p-4 m-4" style="display: none;">
    
      <div class="jumbotron text-center">
        <p class="h1" style="font-family: 'Exo', sans-serif;">Department</p>
      </div>

      <form class="ui form pb-md-5 pb-5 pt-5" id='Department_form'>
        <h3 class="ui dividing header">Add New Department</h3>
        <div class="two fields">
          <div class="field">
            <label>Department Name</label>
            <input required id='dep_name' name='Department' type="text" placeholder="Department Name">
          </div>
          
          <div class="field">
            <label>Short Form</label>
            <input id='dep_alias' name = 'Alias' required type="text" placeholder="Short Form (Without any space)">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
      <hr>
      <form class="ui form pb-md-5 pb-5 pt-5" id='Course_form'>
        <h3 class="ui dividing header">Add New Course</h3>
        <div class="fields two">
          <div class="field">
            <label>Course Name</label>
            <input id="course_name" required type="text" placeholder="Course Name">
          </div>

          <div class="field">
            <label>Duration</label>
            <select class="ui search dropdown" id='course_duration'>
              <option value="1">1 Year</option>
              <option value="2">2 Year</option>
              <option value="3">3 Year</option>
              <option value="4">4 Year</option>
              <option value="5">5 Year</option>
            </select>
          </div>
        </div>
        <div class="fields two">
          <div class="field">
            <label>Short Form</label>
            <input id="course_shortform" required type="text" placeholder="eg: bca(without any space)">
          </div>
          
          <div class="field">
            <label>Department</label>
            <select class="ui search dropdown" id='department_options3'>
            </select>
          </div>

          <script>$('#department_options option').clone().appendTo('#department_options3');</script>
        </div>
        
        <button type="submit" class="btn btn-success">Add</button>

      </form>
      <hr>
      <form class="ui form pb-md-5 pb-5 pt-5" id='Course_Remove_form'>
        <h3 class="ui dividing header">Remove Course</h3>
        <div class="field">
          <label>Choose Course</label>
          <select required class="ui search dropdown" id='course_options'>
            <option value="none" selected>None</option>
            {% for i in course %}
            <option value="{{ i['Course_name_alias'] }}"> {{ i['Course_name'] }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </section>
    
    <!--Admin Credential Section starts here-->
    <section id='cr' class="p-4 m-4" style="display: none;">
      
      <div class="jumbotron text-center">
        <p class="h1 pb-4" style="font-family: 'Exo', sans-serif;">Admin Credientials</p>
      </div>

      <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card shadow-lg rounded">
                    <div class="card-body p-5">
                        <p class="card-title font-weight-bold h5 text-center"><i class="lock icon"></i>Credential Update</p>
                        <form id='admin_reset'>
                                            
                            <div class="form-group pt-3">
                                <label for="inputPassword">Current Password</label>
                                <input type="password" required class="form-control md-w-50" name="password" id="inputPassword" placeholder="Admin Password">
                            </div>

                            <div class="form-group pt-3">
                              <label for="inputPasswordNew">New Password </label>
                              <input type="password" required class="form-control md-w-50" name="newpassword" id="inputPasswordNew" placeholder="4-8 Alphanumeric digit">
                          </div>
            
                            <div class="form-group pt-3">
                                <button type="submit" id='pass_change_button' class="ui teal button">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </section>

  </div>
  <script>
    function hider(id, navid){
      console.log(id)
      $('#dep').css('display', 'none');
      
      $('#hod').css('display', 'none');
      $('#dD').css('display', 'none');
      $('#dH').css('display', 'none');
      $('#cr').css('display', 'none');
      $('.hodd').removeClass("navisel")
      $('.hodss').removeClass("navisel")
      $('.depart').removeClass("navisel")
      $('.departt').removeClass("navisel")
      $('.credd').removeClass("navisel")

      $('#'+id).css('display', 'block');
      $('#'+navid).addClass("navisel")
    }
  </script>

{% endblock %}
