{% extends "layout.html" %}
{% block content %}

<section>
    <div class="d-flex align-items-center justify-content-center" style="height: 95vh;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card shadow-lg rounded">
                    <div class="card-body p-5">
                        <p class="card-title font-weight-bold h5 text-center"><i class="lock icon"></i>Admin Portal</p>
                        <form action="/admin/login" method="POST">
                            <div class="form-group pt-2" style="display: block;">
                                <label for="staticEmail" >Username</label>
                                <input type="text" readonly class='form-control md-w-50' id="staticEmail" name="username" value="Admin">
                            </div>
                
                            <div class="form-group pt-3">
                                <label for="inputPassword">Password </label>
                                <input type="password" required class="form-control md-w-50" name="password" id="inputPassword" placeholder="Admin Password">
                                <p class="font-weight-bold"><div class="ui red horizontal label" style="display: {{ verify }};">Incorrect credential</div></p>
                            </div>
            
                            <div class="form-group pt-3">
                                <button type="submit" onclick="check()" class="ui teal  button">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function check(){
            value = $('#inputPassword').val();
            if(value.length!=0){
                $('button').addClass('loading disabled');
            }
        }
    </script>
</section>

{% endblock %}