<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navMore").addClass("navisel")
    $("#navAttenm").addClass("navisel")
</script>

<div class="ui container"> 

    <div class="jumbotron text-left pt-md-3">
        <p class="h1 pt-4 pb-4 font-weight-bold" style="font-family: 'Exo', sans-serif;">Attendence Analysis</p>
    </div>
    <div class="ui divider"></div>

    <section class="pt-md-2 mt-md-2" id="choose_detail" style="display: block;">

        <!-- <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="p-0 p-md-5">
                                <div class="jumbotron text-left">
                                    <p class="h3 pb-3 pt-3" style="font-family: 'Exo', sans-serif;">Select Class</p>
                                </div>

                                <form class="ui form align-items-center">
                                    <div class="fields two">
                                        <div class="field">
                                            <label>Course</label>
                                            <select required class="ui search dropdown" id='course'>
                                                {% for i in course %}
                                                <option value="{{i.Course_name_alias}}">{{ i.Course_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                            
                                        <div class="field">
                                            <label>Year</label>
                                            <select required class="ui search dropdown" id='year'>
                                                <option value="1">Year 1</option>
                                                <option value="2">Year 2</option>
                                                <option value="3">Year 3</option>
                                                <option value="4">Year 4</option>
                                                <option value="5">Year 5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="ui button blue" onclick="$('#report_main').css('display', 'none')">Get Report</div>
                                    <div class="ui button teal" onclick="show_attendence()">Show</div>
                                </form>

                                <script>
                                    function show_attendence(){
                                        var course = $("#course").val()
                                        var year = parseInt($("#year").val())
                                        var href = "/hod/students-attendence/"+course+"/"+year
                                        window.location.href = href
                                    }
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

        <form class="ui form align-items-center p-4" id="dataAnalysis">
            <div class="fields two wide">
                <div class="field">
                    <label>Course</label>
                    <select required class="ui search dropdown" id='course'>
                        {% for i in course %}
                        <option value="{{i.Course_name_alias}}">{{ i.Course_name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="field">
                    <label>Year</label>
                    <select required class="ui search dropdown" id='year'>
                        <option value="1">Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>
            </div>

            <div class="ui buttons blue small three">
                <button class="ui button" type="submit" id="get_report_btn">Get Report</button>
                <div class="ui button" onclick="show_attendence()">View data</div>
                <div class="ui button" onclick="show_details()">Get Details</div>
            </div>

        </form>

    </section>

    <section id="attendOverview" style="height: 120vh; display: none;">

        <div class="jumbotron pb-md-4 pb-2 mb-md-4 pt-4">
            <p class="h3 font-weight-bold pb-3" style="font-family: 'Exo', sans-serif;" id="which_class_head">Bca Year 1 Attendence Overview</p>
            <div class="ui vertical small animated button blue" tabindex="0" onclick="window.location.href='take-attendence'">
                <div class="visible content">Take Attendence</div>
                <div class="hidden content">
                    <i class="external alternate icon"></i>
                </div>
            </div>
        </div>

        <div class="row pt-md-5 pb-md-5 pt-2 mt-2">
            <div class="col-md-7">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>

            <div class="col-md-5 pt-md-5 pt-4 mt-md-5 mt-4 ps-3 pl-3">

                <div class="ui form">

                    <div class="field">
                        <label>Choose Date (For Monthly Analysis)</label>
                        <input type="date" id="datePicker">
                    </div>

                    <div class="ui buttons two">
                        <button class="ui button" onclick="get_report(true)" id="monthly_btn_report">Monthly Report</button>
                        <div class="or"></div>
                        <button class="ui positive button" onclick="get_report(false)" id="6_btn_report">6 Month Report</button>
                    </div>

                </div>

            </div>

        </div>

        <!--Top 10 students(most absentees)-->
        <div class="jumbotron text-left">
            <p class="h3 pb-3 pb-md-3 pt-5 mt-2 pt-md-5 pb-md-5 font-weight-bold" style="font-family: 'Exo', sans-serif;">Most Absentees</p>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="ui horizontal list" id='most_absentee_display'>
                        <!-- <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>


                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div> -->
                    </div>
                </div>        
            </div>
        </div>
        <!--End-->

        <!--Report Section-->
        <section class="pb-md-5 pb-5 pt-md-0 pt-3" id="final_report_section" style="display: none;">
            <div class="jumbotron text-left pt-md-5">
                <p class="h3 pb-md-5 pb-5 pt-md-2  font-weight-bold" id="final_report_head" style="font-family: 'Exo', sans-serif;">6 Month Report</p>
            </div>

            <!--Student Search-->
            <div class="form ui pb-4">
            <div class="field">
                <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" id='st_search' placeholder="Search Teacher">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
                </div>
            </div>
            </div>
            <!--Search Ends-->

            <!--Table of content-->
            <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="table-hover table">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col" class="font-weight-bold">FULL NAME</th>
                                    <th scope="col" class="font-weight-bold">TOTAL LEAVE(FULL DAY)</th>
                                    <th scope="col" class="font-weight-bold">PERCENTAGE</th>
                                    <th scope="col" class="font-weight-bold">MARK(Internal)</th>
                                </tr>
                            </thead>
                            
                            <tbody id="report_table">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Ends-->

        </section>
        <!--Ends-->

    </section>

</div>

<script>
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#datePicker').val(today);var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#datePicker').val(today);
</script>

<script src="{{ url_for('static', path='attendence.js') }}"></script>
{% endblock %}