<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navMore").addClass("navisel")
    $("#navAttenm").addClass("navisel")
</script>

<div class="ui container"> 
    <div class="jumbotron text-left pt-md-3">
        <p class="h1 p-4 font-weight-bold" style="font-family: 'Exo', sans-serif;">Attendence Analysis</p>
    </div>


    <section class="pt-md-2 mt-md-2">

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="p-5">
                                <div class="jumbotron text-left">
                                    <p class="h3 pb-4 pt-4" style="font-family: 'Exo', sans-serif;">Select Class</p>
                                </div>

                                <form class="ui form align-items-center">
                                    <div class="fields two">
                                        <div class="field">
                                            <label>Course</label>
                                            <select required class="ui search dropdown" id='course'>
                                              <option value="none">None</option>
                                            </select>
                                        </div>
                            
                                        <div class="field">
                                            <label>Year</label>
                                            <select required class="ui search dropdown" id='year'>
                                              <option value="none">None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="ui button blue" type="submit">Get Report</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- <div class="jumbotron text-left">
        <p class="h3 pb-4 pt-4" style="font-family: 'Exo', sans-serif;">Select Class</p>
    </div>

    <form class="ui form align-items-center">
        <div class="fields">
            <div class="field">
                <label>Course</label>
                <select required class="ui search dropdown" id='course'>
                  <option value="none">None</option>
                </select>
            </div>

            <div class="field">
                <label>Year</label>
                <select required class="ui search dropdown" id='year'>
                  <option value="none">None</option>
                </select>
            </div>

            <div class="field pt-md-4 mt-md-1">
                <button class="ui button teal" id='upload_button' type="submit">Submit</button>
            </div>
        </div>
    </form> -->

    <section id="attendOverview" style="height: 100vh;">

        <div class="jumbotron text-center">
            <p class="h3 pt-5 mt-md-5 font-weight-bold" style="font-family: 'Exo', sans-serif;">Bca Year 1 Attendence Overview</p>
            <div class="ui buttons pt-md-4 pt-4">
                <button class="ui button blue">Take Attendence</button>
            </div>
        </div>

        <!--Report Header-->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-center pt-5 pb-5">
                    <div class="ui buttons">
                        <button class="ui button teal">6 Month Report</button>
                        <button class="ui button blue">Last Month Report</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->

        <!--Top 10 students(most absentees)-->

        <div class="jumbotron text-left">
            <p class="h3 ps-4 pb-5 font-weight-bold" style="font-family: 'Exo', sans-serif;">Most Absentees</p>
        </div>
        

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="ui ordered horizontal list">
                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>


                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>

                        <div class="item">
                            <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                            <div class="content">
                                <div class="header">Steve Jobes</div>
                                50 Points
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
            <!-- <div class="col-md-6">
                <div class="ui list very relaxed">
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/elyse.png') }}">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            50 %
                        </div>
                    </div>

                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">Poodle</div>
                            50 %
                        </div>
                    </div>
                    
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">Poodle</div>
                            50 %
                        </div>
                    </div>
                    
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/elyse.png') }}">
                        <div class="content">
                            <div class="header">Poodle</div>
                            50 %
                        </div>
                    </div>
                    

                </div>    
            </div> -->
            <!-- <div class="col-md-12 pt-4">
                <div class="ui middle aligned list">
                    <div class="item">
                        <div class="right floated content">
                            <div class="ui button">Add</div>
                        </div>
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            Mark
                        </div>
                    </div>

                    <div class="item">
                        <div class="right floated content">
                            <div class="ui button">Add</div>
                        </div>
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/elyse.png') }}">
                        <div class="content">
                            Molly
                        </div>
                    </div>
                  </div>
                <div class="ui relaxed horizontal list pt-4">

                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/elyse.png') }}">
                        <div class="content">
                            <div class="header">
                                Steve Jobes
                            </div>
                            50%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
                    
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="ui avatar image" src="{{ url_for('static', path = 'Favicon/kristy.png') }}">
                        <div class="content">
                            <div class="header">
                                Stevie Feliciano
                            </div>
                            44%
                        </div>
                    </div>
        
                </div>
            </div> -->
        </div>
        <!--End-->

        <!--Report Section-->
        <section class="pb-md-5 pb-5">
            <div class="jumbotron text-left pt-md-5 pt-5">
                <p class="h3 pb-md-5 pb-5 pt-md-2 ps-md-4 ps-4 font-weight-bold" style="font-family: 'Exo', sans-serif;">6 Month Report</p>
            </div>

            <!--Table of content-->
            <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="table-hover table">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col" class="font-weight-bold">ROLL NUMBER(Uoc)</th>
                                    <th scope="col" class="font-weight-bold">ROLL NUMBER</th>
                                    <th scope="col" class="font-weight-bold">FULL NAME</th>
                                    <th scope="col" class="font-weight-bold">TOTAL LEAVE</th>
                                    <th scope="col" class="font-weight-bold">PERCENTAGE</th>
                                    <th scope="col" class="font-weight-bold">MARK(Internal)</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="negative">
                                    <td>JDATBCA01</td>
                                    <td>01</td>
                                    <td class="font-weight-bold">LALKRISHNA ARJUN</td>
                                    <td>9</td>
                                    <td>75%</td>
                                    <td>4</td>
                                </tr>

                                <tr class="negative">
                                    <td>JDATBCA02</td>
                                    <td>02</td>
                                    <td class="font-weight-bold">SHAHIL</td>
                                    <td>6</td>
                                    <td>78%</td>
                                    <td>4</td>
                                </tr>

                                <tr class="negative">
                                    <td>JDATBCA03</td>
                                    <td>03</td>
                                    <td class="font-weight-bold">NADIR</td>
                                    <td>2</td>
                                    <td>86%</td>
                                    <td>5</td>
                                </tr>

                                <tr class="negative table-danger">
                                    <td>JDATBCA04</td>
                                    <td>04</td>
                                    <td class="font-weight-bold">UNKNOWN</td>
                                    <td>35</td>
                                    <td>40%</td>
                                    <td>0</td>
                                </tr>

                                <tr class="negative table-danger">
                                    <td>JDATBCA01</td>
                                    <td>05</td>
                                    <td class="font-weight-bold">UNKNOWN</td>
                                    <td>20</td>
                                    <td>50%</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
 
                </div>
            </div>
            <!--Ends-->

        </section>
        <!--Ends-->

    </section>

</div>























<script src="{{ url_for('static', path='attendence.js') }}"></script>
<script>

var xValues = ["Working Data", "Holidays"]
var yValues = [50, 30]
var title = ""
plot_pie(xValues, yValues, title)

</script>
{% endblock %}

<script>
    function plot_pie(xValues, yValues, title){
    
    var barColors = ["#b91d47", "#00aba9"];
    var type = "pie"
    var data = {}
    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
            backgroundColor: barColors,
            data: yValues
            }]
        },
    options: {
        title: {
                display: true,
                text: title
            }
        }
    })

}
</script>