<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo&family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='sementicAlert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='nav.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='Favicon/favicon-32x32.png') }}">

</head>
<body style="background-color: rgb(255, 255, 255);">
    
    <div class="ui container">
        <div class="ui tablet computer only padded grid shadow">
            <div class="ui borderless fluid huge menu">
                <a class="header item" style="font-family: 'Exo', sans-serif;">TeachersLogin</a>
                <a class="item navi" id='navWorkw' href="#">Workspace</a>
                <a class="item navi" id='navTchw' href="/hod/edit-teacher">Teachers</a>
                <a class="item navi" id='navTTdw' href="/hod/timetable">TimeTable</a>

                <a class="ui dropdown item navi" id="navMore">
                    More <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="window.location.href='/hod/take-attendence'">Take Attendence</div>
                        <div class="item" onclick="window.location.href='/hod/students-attendence'">Attendence Analysis</div>
                        <div class="item" onclick="window.location.href='/hod/uoc-notification'">Uoc Notifications<i class="bell icon"></i></div>
                    </div>
                </a>

                <div class="right menu">
                    <a class="item navi"><i class="envelope icon"></i></a>
                    <a onclick="about()" class="item navi"><i class="info icon"></i></a>
                </div>
            </div>
        </div>
    
        <div class="ui mobile only padded grid shadow">
            <div class="ui borderless huge fluid menu">
                <a class="header item" style="font-family: 'Exo', sans-serif;">TeachersLogin</a>
                <div class="right menu">
                    <div class="item">
                        <button class="ui icon toggle basic button">
                            <i class="content icon"></i>
                        </button>
                    </div>
                </div>
            
                <div class="ui vertical borderless fluid menu">
                    <a class="item navi" id='navWorkm' href="#">Workspace</a>
                    <a class="item navi" id='navTchm' href="/hod/edit-teacher">Teachers</a>
                    <a class="item navi" id='navTTdm' href="/hod/timetable">TimeTable</a>
                    <a class="item navi" id='navTkAttnm' href="/hod/take-attendence">Take Attendence</a>
                    <a class="item navi" id='navAttenm' href="/hod/students-attendence">Attendence Analysis</a>
                    <a class="item navi" id='navNotenm' href="/hod/uoc-notification"><i class="bell icon"></i>Uoc Notifications</a>
                    <a class="item navi"><i class="envelope icon"></i>Messages</a> 
                    <a class="item navi" onclick="about()"><i class="info icon"></i>About</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
    
<script>
        $('.tabular.menu .item').tab();
        $('.ui.checkbox').checkbox();
        $('.ui.dropdown').dropdown();
        $(document).ready(function() {
            $(".ui.toggle.button").click(function() {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });

            $(".ui.dropdown").dropdown();
        });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="{{ url_for('static', path='sementicAlert.js') }}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function about(){
        swal({
            title: "Project 2k21!",
            text: "Final Year Project(BCA) \
                   by Lalkrishna, Rishal, Rashitha, Nafla",

            icon: "info",
            button: "Cool!",
        })
    }
</script>

</body>
</html>