{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navWorkw").addClass("navisel")
    $("#navWorkm").addClass("navisel")
</script>


<div class="container">

    <div class="jumbotron text-center">
        <h3 class="pt-md-5 pt-5 pb-5 mt-5 mb-5 mt-md-5 mb-md-4 font-weight-bold" style="font-family: sans-serif;">Welcome {{user}}!🎉</h3>
    </div>

    <section id='take' class="pt-2">

        <h4 class="font-weight-bold">Today's Timetable</h4>
  
        <div class="pt-3 pb-5 h5 font-weight-bold horizontal">
            {% if free_day %}
            <div class="ui purple horizontal label large shadow">Today is free for you! Enjoy it😂.</div>
            {% else %}
            {% for class in classes %}
                <span class="badge bg-dark shadow">Hour {{ class.hour }}:  {{class.course}} Year {{ class.year }}</span>
            {% endfor %}
            {% endif %}
        </div>

    </section>

    <section id='quicklink' class='pb-1'>

        <h4 class="font-weight-bold" style="font-family: sans-serif; font-size: larger;">Quick Links</h4>
  
        <div class="h5 pt-3">
            <a href="http://docs.uoc.ac.in/website/Syll/"><span class="badge bg-primary">Syllabus <i class="external alternate icon"></i></span></a> 
            <a href="http://www.cupbonline.uoc.ac.in/CuPbOnline/online_portal/registration.php"><span class="badge bg-danger">Registration <i class="external alternate icon"></i></span></a> 
            <a href="http://results.uoc.ac.in/"><span class="badge bg-success">Result <i class="external alternate icon"></i></span></a>
        </div>

    </section>

    <section id="notification" class="pt-5 pb-3">

        <h4 class="font-weight-bold" style="font-family: sans-serif; font-size: larger;">Latest Notifications <a href="/hod/uoc-notification"><i class="external alternate icon"></i></a></h4>
        
        <div class="ui segment shadow" style="min-height: 100px;" id='notification-display'>
            <div class="ui active dimmer" id='notification-dimmer'>
              <div class="ui text loader" id='fetch-noti'>Fetching</div>
            </div>
        </div>

    </section>

    <section id="exam-notification" class="pt-5 pb-5 mb-5">
        <h4 class="font-weight-bold" style="font-family: sans-serif; font-size: larger;">Latest Exam Notifications <a href="/hod/exam-notification"><i class="external alternate icon"></i></a></h4>

        <div class="ui segment shadow" style="min-height: 100px;" id='enotification-display'>
            <div class="ui active dimmer" id='enotification-dimmer'>
              <div class="ui text loader" id='fetch-exam'>Fetching</div>
            </div>
            <p></p>
        </div>

    </section>

</div>



<script src="{{ url_for('static', path='latest_notification.js') }}"></script>

<script>
    $(window).on('load', function () {
        get_notification("notification")
        get_notification("exam") 
    })    
</script>

{% endblock %}