{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navWorkw").addClass("navisel")
    $("#navWorkm").addClass("navisel")
</script>


<div class="container">

    <div class="jumbotron text-center">
        <p class="h3 pt-md-5 pt-5 pb-5 mt-5 mb-5 mt-md-5 mb-md-4 font-weight-bold" style="font-family: 'Exo', sans-serif;">Welcome Arjun!🎉</p>
    </div>

    <section id='quicklink' class='pb-1'>

        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Quick Links</p>
  
        <div class="h4 pt-2">
            <a href="http://docs.uoc.ac.in/website/Syll/"><span class="badge bg-primary">Syllabus <i class="external alternate icon"></i></span></a> 
            <a href="http://www.cupbonline.uoc.ac.in/CuPbOnline/online_portal/registration.php"><span class="badge bg-danger">Registration <i class="external alternate icon"></i></span></a> 
            <a href="http://results.uoc.ac.in/"><span class="badge bg-success">Result <i class="external alternate icon"></i></span></a>
        </div>

    </section>

    <section id="notification" class="pt-5 pb-3">

        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Latest Notifications <a href="/hod/uoc-notification"><i class="external alternate icon"></i></a></p>
        
        <div class="ui segment shadow" style="min-height: 100px;" id='notification-display'>
            <div class="ui active dimmer" id='notification-dimmer'>
              <div class="ui text loader" id='fetch-noti'>Fetching</div>
            </div>
        </div>

    </section>

    <section id="exam-notification" class="pt-5 pb-5 mb-5">
        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Latest Exam Notifications <a href="/hod/exam-notification"><i class="external alternate icon"></i></a></p>

        <div class="ui segment shadow" style="min-height: 100px;" id='enotification-display'>
            <div class="ui active dimmer" id='enotification-dimmer'>
              <div class="ui text loader" id='fetch-exam'>Fetching</div>
            </div>
            <p></p>
        </div>

    </section>

</div>



<script src="{{ url_for('static', path='latest_notification.js') }}"></script>

<script>
    get_notification("notification")
    get_notification("exam")     
</script>

{% endblock %}