<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo&family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='sementicAlert.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='Favicon/favicon-32x32.png') }}">
</head>
<body style="background-color: rgb(255, 255, 255);">
    
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>


<script>$('.tabular.menu .item').tab();
        $('.ui.checkbox').checkbox();
        $('.ui.dropdown').dropdown();
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="{{ url_for('static', path='sementicAlert.js') }}"></script>
<script src="{{ url_for('static', path='admin.js') }}"></script>

<!-- ---------------Footer------------ -->
<!-- <div class="ui vertical footer segment form-page" style="background-color: #008080; color: white;">
    <div class="ui container text-center">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Bca Final Year Project 2021</a>
    </div>
</div> -->
<!-----------------Footer------------ -->

</body>
</html>