{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navMessage").addClass("navisel")
    $("#navMessagem").addClass("navisel")
</script>


<div class="container ui">
    <section class="pt-5">
        <div class="jumbotron text-left">
            <p class="pb-4 ui dividing header" style="font-family: 'Exo', sans-serif;">Draft New Message</p>
        </div>
    
        <div class='pt-5'>
            <form class="ui form" id="message-form">
    
                <div class="field">
                    <label>Title</label>
                    <input type="text" id = 'tle' required>
                </div>
                
                <div class="field">
                    <label>Message</label>
                    <textarea rows="3" id='msg' required></textarea>
                </div>
    
                <div class="inline field">
                    <label>To</label>
                    <select class="ui dropdown" id='to'>
                        <option value="dep" selected>Department Teachers</option>
                        <option value="all">All Teachers</option>
                    </select>
                </div>
    
                <div class="inline field">
                    <label style="font-weight: bold;">Important</label>
                    <input id='imp' type="checkbox" tabindex="0" class="hidden">
                </div>
    
                <button class="ui button green" id='send-btn'>Send</button>
            </form>
        </div>
    
        <script>
    
            function get_date(){
                var d = new Date();
                var month = d.getMonth()+1;
                var day = d.getDate();
                var date = (day<10 ? '0' : '') + day + '-' +
                           (month<10 ? '0' : '') + month + '-' +
                           d.getFullYear()
                return String(date)
            }
    
            $("#message-form").submit((e)=>{
                e.preventDefault()
                $("#send-btn").addClass("loading disabled")
                var base = window.location.origin + '/hod/message';
    
                var data = JSON.stringify({"title": $("#tle").val(),
                                           "message": $("#msg").val(),
                                           "to": $("#to").val(),
                                           "important": $('#imp').is(':checked'),
                                           "date":get_date()})
                
                $.ajax({
                    url: base,
                    type: 'POST',
                    async: true,
                    data: data,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function(result){
                        $("#message-form").trigger("reset");
                        swal({
                            title: "Message Sended!",
                            text: "Successfully sended message to teachers",
                            icon: "success",
                            button: "Okay!",
                        })
                        $("#send-btn").removeClass("loading disabled")
                        get_full_message()
                    },
                    error: function(result){
                        swal({
                            title: "Failed!",
                            text: "Please contact the techincal team.",
                            icon: "error",
                            button: "Okay!",
                        })
                        $("#send-btn").removeClass("loading disabled")
                    }
                })
            })
        </script>
    <hr>
    </section>
    
    
    <section class="pt-5 pb-5">
    
        <div class="jumbotron text-left">
            <p class="pb-4 ui dividing header" style="font-family: 'Exo', sans-serif;">Recent Messages</p>
        </div>
    
        <div class='pt-5'>
            <div class="ui segment shadow" style="min-height: 70px;" id='message-display'>
                <div class="ui active dimmer" id='message-dimmer'>
                  <div class="ui text loader" id='fetch-noti'>Fetching</div>
                </div>
            </div>
        </div>
    
        <script>
            function get_full_message(){
                var base = window.location.origin + '/hod/full_message';
                $.ajax({
                    url: base,
                    type: 'GET',
                    async: true,
                    success: function(result){
                        $("#message-dimmer").removeClass("dimmer")
                        $("#message-display").html(result)
                    }
                })
            }
            get_full_message()
        </script>


    </section>
</div>

{% endblock %}