{% extends "teacherLayout.html" %}
{% block content %}
<script>
    $("#navAttenw").addClass("navisel")
    $("#navAttenm").addClass("navisel")
</script>

<div class="ui container">

    <section class="p-md-5 m-md-5 pb-5 pt-5">
        <form class="ui form pb-md-5 pb-5" id="whichClass">
            <h3 class="ui dividing header">Set Class</h3>
            <div class="three fields">

                <div class="field">
                    <label >Choose Course</label>
                    <select class="ui dropdown">
                        <option value="none" selected>None</option>
                    </select>
                </div>
    
                <div class="field">
                    <label>Choose Year</label>
                    <select class="ui dropdown">
                        <option value="1" selected>Year 1</option>
                        <option value="2">Year 2</option>
                        <option value="3">Year 3</option>
                        <option value="4">Year 4</option>
                        <option value="5">Year 5</option>
                    </select>
                </div>

                <div class="field">
                    <label>Choose Date</label>
                    <input type="date" id="datePicker">
                </div>

            </div>

            <button type="submit" class="ui button animated teal" >
                <div class="visible content">Set Class</div>
                <div class="hidden content">
                    <i class="check circle outline icon"></i>
                </div>
            </button>
        </form>

        <form class="ui form pb-md-5 pb-5 pt-md-2 pt-0" id="take">
            <h3 class="ui dividing header">Take Attendence</h3>
            <div class="fields pb-md-0 pb-3">

                <div class="sixteen wide field">
                    <label>Choose Students Names</label>
                    <select class="ui fluid search dropdown" multiple="">
                        <option value="" disabled selected>Students Name</option>
                        <option value="AL">Lalkrishna</option>
                        <option value="AK">Shahil</option>
                        <option value="A4">Nadir</option>
                        <option value="A1">Rashitha</option>
                        <option value="A3">Nafla</option>
                        <option value="A5">Rishal</option>
                        <option value="A6">Arjun</option>
                    </select>
                </div>

            </div>

            <button type="submit" class="ui button vertical animated green disabled" >
                <div class="visible content">Submit</div>
                <div class="hidden content">
                    <i class="check circle outline icon"></i>
                </div>
            </button>

        </form>

    </section>

</div>


<script>
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#datePicker').val(today);var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $('#datePicker').val(today);
</script>

{% endblock %}

