{% extends "teacherLayout.html" %}
{% block content %}

<script>
    $("#navWorkw").addClass("navisel")
    $("#navWorkm").addClass("navisel")
</script>

<div class="ui container pb-5">

    <div class="jumbotron text-center">
        <p class="h3 pt-md-5 pt-5 pb-5 mt-5 mb-5 mt-md-5 mb-md-4 font-weight-bold" style="font-family: 'Exo', sans-serif;">Welcome Arjun!🎉</p>
    </div>

    <section id='take'>

        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Today's Timetable</p>
  
        <div class="pt-3 h5 font-weight-bold horizontal">
            {% if free_day %}
            <div class="ui purple horizontal label large shadow">Today is free for you! Enjoy it😂.</div>
            {% else %}
            {% for class in classes %}
                <span class="badge bg-dark shadow">Hour {{ class.hour }}:  {{class.course}} Year {{ class.year }}</span>
            {% endfor %}
            {% endif %}
        </div>

    </section>

    <section id='quicklink' class='pb-1 pt-5'>

        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Quick Links</p>
  
        <div class="h4 pt-2">
            <a href="http://docs.uoc.ac.in/website/Syll/"><span class="badge bg-primary">Syllabus <i class="external alternate icon"></i></span></a> 
            <a href="http://results.uoc.ac.in/"><span class="badge bg-success">Result <i class="external alternate icon"></i></span></a>
        </div>

    </section>

    <section id="message" class="pt-5 pb-5">

        <p class="h4 font-weight-bold" style="font-family: Comic sans MS; font-size: larger;">Latest Messages <a href="/teacher/message"><i class="external alternate icon"></i></a></p>
        

        <div class="ui segment shadow" style="min-height: 70px;" id='message-display'>
            <div class="ui active dimmer" id='message-dimmer'>
              <div class="ui text loader" id='fetch-noti'>Loading</div>
            </div>
        </div>

    </section>

    <script>
        function get_full_message(){
            var base = window.location.origin + '/teacher/messages/True';
            $.ajax({
                url: base,
                type: 'GET',
                async: true,
                success: function(result){
                    $("#message-dimmer").removeClass("dimmer")
                    $("#message-display").html(result)
                }
            })
        }
        get_full_message()
    </script>


</div>


{% endblock %}