{% extends "teacherLayout.html" %}
{% block content %}


<div class="ui container">

    <div class="jumbotron text-center">
        <p class="h3 text-light pt-md-2 pt-4 pb-4 mt-md-5 font-weight-bold" style="font-family: 'Exo', sans-serif;">Welcome Arjun!</p>
    </div>

    <div class="row">
        <div class="col-md-7">
            <p class="h4 font-weight-bold text-light pt-md-0 pt-4">Today's Take ups</p>
            
            <div class="pt-3 pt-md-5 pb-5 pb-md-4">
                <p class="text-light">Current Hour: BCA YEAR 1</p>
                <p class="text-light"></p>
                <p class="text-light">Current Hour: </p>
            </div>

        </div>

        <div class="col-md-5">
            <p class="h4 font-weight-bold text-light">ToDo</p>
        </div>

    </div>

</div>


{% endblock %}