{% if head %}
{% extends "commonLayout.html" %}
{% else %}
{% extends "teacherLayout.html" %}

{% endif %}

{% block content %}

{% if head %}
<script>
    $("#navMC").addClass("navisel")
</script>
{% else %}
<script>
    $("#navTblm").addClass("navisel")
    $("#navTblw").addClass("navisel")
</script>
{% endif %}

<div class="ui container pt-5 pb-5">

    <section class="pt-5">
        <div class="jumbotron text-left">
            <h3 class="pb-4 ui dividing header" style="font-family: sans-serif;">
                My Classes
            </h3>
        </div>
    </section>

    <section class="pt-5 pb-3">

        <div class="table-responsive shadow rounded">
            <table class="table ui celled teal">
              <tbody>
                <tr>
                    <th class="font-weight-bold" style="font-family: sans-serif;">Monday</th>
                    {% if data['Monday'] %}
                    {% for i in data['Monday'] %}
                    {% if i.year %}
                    <td><div class="ui grey w-100 horizontal label large shadow"><p class=" rounded">Hour {{i.hour}}</p> {{ i.course }} Year {{ i.year }}</div></td>
                    {% else %}
                    <td><div class="ui purple horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                </tr>

                <tr>
                    <th class="font-weight-bold" style="font-family: sans-serif;">Tuesday</th>
                    {% if data['Tuesday'] %}
                    {% for i in data['Tuesday'] %}
                    {% if i.year %}
                    <td><div class="ui red w-100 horizontal label large shadow"><p class="rounded">Hour {{i.hour}}</p> {{ i.course }} Year {{ i.year }}</div></td>
                    {% else %}
                    <td><div class="ui purple horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                </tr>

                <tr>
                    <th class="font-weight-bold"  style="font-family: sans-serif;">Wednesday</th>
                    {% if data['Wednesday'] %}
                    {% for i in data['Wednesday'] %}
                    {% if i.year %}
                    <td><div class="ui green w-100 horizontal label large shadow"><p class="rounded">Hour {{i.hour}}</p> {{ i.course }} Year {{ i.year }}</div></td>
                    {% else %}
                    <td><div class="ui purple horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                </tr>

                <tr>
                    <th class="font-weight-bold" style="font-family: sans-serif;">Thursday</th>
                    {% if data['Thursday'] %}
                    {% for i in data['Thursday'] %}
                    {% if i.year %}
                    <td><div class="ui yellow w-100 horizontal label large shadow"><p class="rounded">Hour {{i.hour}}</p> {{ i.course }} Year {{ i.year }}</div></td>
                    {% else %}
                    <td><div class="ui purple horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                </tr>

                <tr>
                    <th class="font-weight-bold" style="font-family: sans-serif;">Friday</th>
                    {% if data['Friday'] %}
                    {% for i in data['Friday'] %}
                    {% if i.year %}
                    <td><div class="ui pink w-100 horizontal label large shadow"><p class="rounded">Hour {{i.hour}}</p> {{ i.course }} Year {{ i.year }}</div></td>
                    {% else %}
                    <td><div class="ui purple horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    <td><div class="ui green horizontal w-100 label large shadow">Free</div></td>
                    {% endif %}
                </tr>

              </tbody>
            </table>
        </div>

    </section>

    <br><br><br>
    <hr class='rounded' style="height: 5px; background-color: rgb(255, 0, 106);">
</div>


{% endblock %}