{% extends "commonLayout.html" %}
{% block content %}

<script>
    $("#navMore").addClass("navisel")
    $("#navExamnot").addClass("navisel")
</script>

<div class="ui container">

    <section id="head">
        <div class="row">
    
            <div class="col-md-12">
                <div class="text-center pt-5 pb-5 pr-5 pl-3">
                    <div class="ui buttons small">
                        <button class="ui button teal" onclick="show('#UG')">UG</button>
                        <button class="ui button teal"  onclick="show('#PG')">PG</button>
                        <button class="ui button blue"  onclick="show('#OTHERS')">Others</button>
                    </div>
                </div>
            </div>
            <script>
                function show(id){
                    $("#UG").hide();
                    $("#PG").hide();
                    $("#OTHERS").hide();
                    $(id).show();
    
                }
            </script>
        </div>
    </section>

    <section class="pb-5 mb-5" id="UG" style="display: block;">
        <div class="ui selection list">
            {% for data in notfy["UG"] %}
            <div class="item shadow p-3">
              <i class="bell icon red"></i>
              <div class="content">
                <div class="header">
                    <a href="{{ data.direct_link }}" class="text-dark"> {{ data.text }}</a>
                </div>
              </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </section>

    <section class="pb-5 mb-5" id="PG" style="display: none;">
        <div class="ui selection list">
            {% for data in notfy["PG"] %}
            <div class="item shadow p-3">
              <i class="bell icon red"></i>
              <div class="content">
                <div class="header">
                    <a href="{{ data.direct_link }}" class="text-dark"> {{ data.text }}</a>
                </div>
              </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </section>

    <section class="pb-5 mb-5" id="OTHERS" style="display: none;">
        <div class="ui selection list">
            {% for data in notfy["OTHER"] %}
            <div class="item shadow p-3">
            <i class="bell icon red"></i>
              <div class="content">
                <div class="header">
                    <a href="{{ data.direct_link }}" class="text-dark"> {{ data.text }}</a>
                </div>
              </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}
